.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}
.search-form {
    text-align: center;
}
.search-form>form {
    position: relative;
}
.search-form input {
    width: 300px;
    height: 2rem;
    border: none;
    padding: 6px 12px;
}
.search-form button {
    position: absolute;
    right: 0px;
    height: 34px;
    width: 34px;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
}
.failed {
    width: 300px;
}
.searched-info {
    background: white;
    text-align: center;
    width: 300px;
}
.searched-location {
    margin: 2rem 0;
}
.searched-weather {
    margin-bottom: 1rem;
}
.searched-weather img {
    width: 157px;
    height: 157px;
}
.searched-weather img {
    margin-bottom: 1rem;
}
.searched-temp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.searched-fail {
    text-align: center;
}
.search-wind, .search-humidity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
}
.search-humidity {
    gap: 5px;
}